@import '@fontsource/outfit/500.css';
@import '@fontsource/outfit/700.css';


:root {
  font-family: 'Outfit', sans-serif;

  --primary-color: #4B7FD2;
  --text-color: #1A2B38;
  --bg-color: #F4F5F7;
  --dim-bg-color: #DFE1E5;
  --extra-dim-bg-color: #D2D5DA;
  --selection-color: #B9BFCB;
  --white: #ffffff;

  --transition-time: 150ms;
  --theme-radius: 0.2rem;
}

*::selection {
  background-color: var(--selection-color);
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--white);
  font-family: "Outfit";
  font-weight: 500;
  font-style: normal;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.special-link {
  color: var(--primary-color);
  text-decoration: underline;
  transition-duration: var(--transition-time);
}
.special-link:hover {
  padding: 0 0.5rem 0 0.5rem;
  text-decoration: none;
  background-color: var(--dim-bg-color);
  border-radius: var(--theme-radius);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}