@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Outfit', sans-serif;

  --primary-color: #4B7FD2;
  --text-color: #1A2B38;
  --bg-color: #F4F5F7;
  --dim-bg-color: #DFE1E5;
  --selection-color: #B9BFCB;
  --white: #ffffff;
}

*::selection {
  background-color: var(--selection-color);
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--white);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}